{{ define "header" }}
{{ partialCached "header.html" . }}
<style>
.posts-group .parallax {
	border-bottom: none;
}
.parallax {
	background-color: #292d35;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 150px;
	background-size: cover;
	background-blend-mode: overlay;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 5px;
	transition: background-color 300ms ease-in;
}
.parallax:hover {
	background-color: #0b0d10;
}
.parallax a {
	width: 100%;
	height: 90%;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
</style>
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>{{ .Title }}</h1>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		{{- range .Data.Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<a href="{{.Permalink}}">
				{{ if .Params.featuredImg -}}
					<li class="post-item parallax" style="background-image: url({{.Params.featuredImg}})">
				{{- else if .Params.images -}}
					{{- range first 1 .Params.images -}}
						<li class="post-item parallax" style="background-image: url({{. | absURL}})">
					{{- end -}}
				{{- else -}}
					<li class="post-item parallax">
				{{- end -}}
						<div class="title-and-date">
							<span class="post-title">{{.Title}}</span>
							<span class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</span>
						</div>
						<p class="post-description"><i>{{ .Description }}</i></p>
						{{- with .Params.tags }}
						<div class="post-info">
							<p>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
								{{- range . -}}
								<!-- <span class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a></span> -->
								<span class="tag">{{.}}</span>
								{{- end }}
							</p>
						</div>
						{{- end }}
					</li>
				</a>
				{{- end }}
			</ul>
		</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
